.idea
.vscode
!.vscode/launch.json
.DS_Store
.env
composer.lock

/var/
/vendor/

###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###

###> squizlabs/php_codesniffer ###
.phpcs-cache
###< squizlabs/php_codesniffer ###

###> junit reports ###
*junit*.xml
###< junit reports ###
