.idea
.vscode
!.vscode/launch.json
.DS_Store
.env
composer.lock

/var/
/vendor/

###> squizlabs/php_codesniffer ###
.phpcs-cache
###< squizlabs/php_codesniffer ###

###> junit reports ###
*junit*.xml
###< junit reports ###
