parameters:
    errorFormat: github
    level: 6
    paths:
        - src
        - tests
    modulite:
        projectRoot: .
        srcRoot: src/

includes:
    - vendor/vkcom/modulite-phpstan/extension.neon
